section#home {
	margin-block-start: 0;

	.container {
		--max: 100%;
	}
}

.collection-list {
	--gradient: linear-gradient(to right, transparent 50%, var(--white-trans-3) 100%);

	display: grid;
	gap: var(--space-xs);

	.keto-card {
		--pb: 2.5rem;
		--pi: 2.5rem;

		background-color: var(--grey-8);
		min-block-size: 25rem;

		&::before,
		&::after {
			content: "";
			position: absolute;
		}

		&__body {
			--gap: var(--em-s);

			h2 {
				text-transform: capitalize;
			}

			p {
				color: var(--grey-2);
				font-size: var(--text-l);
				font-weight: var(--w-600);
				margin-block-end: auto;
			}
		}
	}
}

.link {
	--duration: 250ms;

	font-weight: var(--w-600);
	gap: 3px;
	align-items: center;
	transition: var(--normal);

	.iconify {
		--font-size: inherit;
	}
}
