@font-face {
	font-display: swap;
	font-family: "Urbanist";
	font-style: normal;
	font-weight: 400;
	src: url("./urbanist-400.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Urbanist";
	font-style: normal;
	font-weight: 500;
	src: url("./urbanist-500.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Urbanist";
	font-style: normal;
	font-weight: 600;
	src: url("./urbanist-600.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Urbanist";
	font-style: normal;
	font-weight: 700;
	src: url("./urbanist-700.woff2") format("woff2");
}
