/* DO NOT TOUCH */
@use "../abstracts/map" as *;

/*  "container-" Utility Classes */
@each $container, $value in $containers {
	.#{$container} {
		--max: var(--#{$container});
		max-inline-size: var(--max);
		inline-size: 100%;
		margin-inline: auto;
	}
}

section {
	max-inline-size: 100%;
	inline-size: 100%;
	padding-inline: var(--space-xs);
	margin-inline: auto;
}
