@use "../layouts/breakpoints" as *;

[data-keto="footer"] {
	max-inline-size: 100%;
	inline-size: 100%;
	margin: auto auto 0;
	background-position: 50%;
	background-size: cover;
	background-color: var(--bg);
	color: var(--color);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	flex-shrink: 0;
}
