/* DO NOT TOUCH */
@use "../abstracts/map" as *;

/* GRID UTILITY CLASSES */
@for $i from 1 through 12 {
	.grid-#{$i} {
		display: grid;
		grid-template-columns: var(--grid-#{$i});
	}
}

@each $grid, $value in $more-grids {
	.#{$grid} {
		display: grid;
		grid-template-columns: var(#{$grid});
	}
}

/* COLUMN COUNTS */
@for $i from 2 through 5 {
	.col-#{$i} {
		column-count: #{$i};
	}
}

/* FLEXBOX */
.flex {
	--direction: row;

	display: flex;
	flex-direction: var(--direction);
}

.center-all {
	align-items: center;
	justify-content: center;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

/* QUICK ORDERING PROPERTIES */

.first {
	order: -1;
}

.last {
	order: 999;
}
