@use "../layouts/breakpoints" as *;

[data-keto="content"] {
	inline-size: 100%;
	display: block;
	flex: 1;
	position: relative;
	margin-block-end: var(--space-4xl);

	section:first-of-type {
		margin-block-start: var(--space-4xl);
	}

	section:not(:first-of-type) .container {
		padding-block-start: var(--space-4xl);
	}
}
