/* DO NOT TOUCH */

@use "../abstracts/theme" as *;

/* BASE SETTINGS */
html {
	font-size: 100%;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	@extend %theme, %transition;

	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
	background-color: var(--bg);
	background-size: cover;
	color: var(--color);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: var(--line-height);
	word-wrap: break-word;
	text-rendering: optimizelegibility;
	scroll-behavior: smooth;

	#root {
		display: flex;
		flex-direction: column;
	}
}

/* INPUT DEFAULT SETTINGS */
%all-inputs {
	@extend %input;

	font: inherit;
	text-align: inherit;
	background-color: var(--bg);
	color: inherit;
	border: var(--border);
	border-radius: var(--border-radius);
	outline-offset: var(--underline-offset);
	padding: var(--pb) var(--pi);
	min-block-size: var(--min-height);
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	transition: var(--all);
	cursor: default;
}

input {
	@extend %all-inputs;

	&[type="number"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	/* CHROME, SAFARI, EDGE, OPERA */
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	/* FIREFOX */
	&[type="number"] {
		-moz-appearance: textfield;
	}
}

::-webkit-scrollbar {
	inline-size: 0.625rem;
	block-size: 0.3125rem;
}

::-webkit-scrollbar-track {
	background-color: var(--black-trans-9);
}
::-webkit-scrollbar-thumb {
	background-color: var(--black-trans-8);

	&:hover {
		background-color: var(--black-trans-7);
	}
}

textarea {
	@extend %all-inputs;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

[type="submit"],
[type="button"],
[role="button"],
[type="reset"] {
	cursor: pointer;
}

option,
optgroup,
::placeholder {
	font: inherit;
	text-align: inherit;
	color: inherit;
}

select {
	--bg: transparent;
	--select-bg: linear-gradient(45deg, transparent 50%, var(--grey-5) 0),
		linear-gradient(135deg, var(--grey-5) 50%, transparent 0);
	--min-height: auto;

	appearance: none;
	min-height: var(--min-height);
	width: 100%;
	max-width: 100%;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: var(--em-m);
	cursor: pointer;
	font: inherit;
	text-align: inherit;
	vertical-align: middle;
	box-shadow: var(--shadow-s);
	transition: var(--all);

	background-color: var(--bg);
	color: inherit;
	background-image: var(--select-bg);
	background-position: calc(100% - 1.25rem) calc(50% + 0.125rem),
		calc(100% - 1rem) calc(50% + 0.125rem);
	background-repeat: no-repeat;
	background-size: 0.25rem 0.25rem, 0.25rem 0.25rem;
}

audio,
canvas,
embed,
iframe,
object,
img,
video {
	display: inline-block;
	font: inherit;
	color: inherit;
	vertical-align: middle;
	inline-size: 100%;
	block-size: auto;
	max-inline-size: 100%;
}

picture {
	display: flex;
	inline-size: 100%;
	block-size: 100%;
	max-inline-size: 100%;
}

.iconify {
	--font-size: var(--text-xl);

	pointer-events: none;
	display: flex;
	font: inherit;
	font-size: var(--font-size);
	color: var(--color);
	vertical-align: middle;
}

ul,
ol {
	--list: none;

	list-style-type: var(--list);
}

table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
}

/* DEFAULT BUTTONS */
button {
	--bg: transparent;
	@extend %border;
	--border: 0;

	display: inline-flex;
	background-color: var(--bg);
	color: var(--color);
	border: var(--border);
	border-radius: var(--border-radius);
	cursor: pointer;
}

/* DEFAULT LINKS */
a {
	--color: currentColor;
	--td: none;

	display: inline-flex;
	color: var(--color);
	text-decoration: var(--td);
	transition: inherit;

	&.underline {
		--td: underline;

		text-underline-offset: var(--underline-offset);
	}

	&:hover,
	&:active {
		color: var(--color);
	}
}

/* CLICKABLE PARENT/CARD */
.clickable-parent {
	position: relative;

	a::before {
		content: "";
		position: absolute;
		inset: 0;
		display: flex;
		cursor: pointer;
		z-index: 1;
	}

	&:focus-within {
		--focus-color: var(--base);

		outline: 0.125rem solid var(--focus-color);

		:focus {
			outline: none;
		}

		button:focus-visible {
			outline: 0.125rem solid var(--focus-color);
		}
	}
}

/* SCREEN READER ACCESSIBLE NO-DISPLAY */
.assisted {
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	border: 0 !important;
	white-space: nowrap !important;
	word-wrap: normal !important;
	overflow-wrap: normal !important;
	overflow: hidden !important;
}

.skip {
	--inline-size: 1px;
	--block-size: 1px;
	--padding: 0;
	--margin: -1px;
	--border: 0;
	--clip: rect(1px, 1px, 1px, 1px);
	--clip-path: inset(50%);
	--bg: transparent;
	--color: inherit;
	--duration: 250ms;

	position: absolute;
	top: var(--space-s);
	left: var(--space-s);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--em-m);
	inline-size: var(--inline-size);
	block-size: var(--block-size);
	padding: var(--padding);
	margin: var(--margin);
	border: var(--border);
	clip: var(--clip);
	clip-path: var(--clip-path);
	background-color: var(--bg);
	color: var(--color);
	font-size: inherit;
	line-height: normal;
	text-decoration: none;
	white-space: nowrap !important;
	word-wrap: normal !important;
	overflow-wrap: normal !important;
	overflow: hidden !important;
	transition: var(--normal);

	&:focus {
		--inline-size: auto;
		--block-size: auto;
		--padding: 1em 1.5em;
		--margin: 0;
		--clip: auto;
		--clip-path: none;
		--bg: var(--white);
		z-index: 9999;
	}
}

/* USER ANIMATION PREFERENCE */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	::before,
	::after {
		animation-delay: -1ms;
		animation-duration: 1ms;
		animation-iteration-count: 1;
		background-attachment: initial;
		scroll-behavior: auto;
		transition-duration: 0s;
		transition-delay: 0s;
	}
}
