@use "sass:math";
@use "sass:list";
@use "../abstracts/functions" as *;

/* "text-" Font-size Classes */
@for $i from 1 through length($suffix) {
	$step: list.nth($suffix, $i);
	.text-#{$step} {
		font-size: var(--text-#{$step});
	}
}

/* "w-" Font-weight Classes */
@for $i from 1 through 9 {
	$weight: calc($i * 100);
	.w-#{$weight} {
		font-weight: #{$weight};
	}
}

/* DEFAULT HEADER SETTINGS */
[class*="text--"],
h1,
h2,
h3,
h4,
h5,
h6 {
	--font-family: var(--base-font);
	--font-weight: var(--w-700);

	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	line-height: var(--line);
}

h1 {
	--font-size: var(--text-3xl);
	--line: var(--line-xs);
}

h2 {
	--font-size: var(--text-2xl);
	--line: var(--line-s);
}

h3 {
	--font-size: var(--text-xl);
	--line: var(--line-s);
}

h4 {
	--font-size: var(--text-l);
	--line: var(--line-m);
}

h5 {
	--font-size: var(--text-m);
	--line: var(--line-m);
}

h6 {
	--font-size: var(--text-s);
	--line: var(--line-m);
}
