@use "../abstracts/theme" as *;
@use "../abstracts/workers" as *;

.btn {
	--color: inherit;
	--pb: 1em;
	--pi: 1.5em;
	--font-weight: var(--w-700);
	--font-size: inherit;
	--tt: uppercase;
	--cursor: pointer;
	@extend %transform, %transition;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--em-m);
	background-color: var(--bg);
	color: var(--color);
	padding: var(--pb) var(--pi);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	text-align: center;
	text-transform: uppercase;
	line-height: var(--no-line);
	border: var(--border);
	border-radius: var(--border-radius);
	cursor: var(--cursor);
	transition: var(--transition);

	&:hover {
		--bg: var(--bg-hover);
		--border-color: var(--bg-hover);
		transform: var(--transform);
	}

	&:focus {
		--bg: var(--bg-focus);
		--border-color: var(--bg-focus);
	}

	&:active {
		--bg: var(--bg-active);
		--border-color: var(--bg-active);
	}

	&:disabled,
	&.disabled,
	&[disabled] {
		opacity: 0.75;
	}

	@each $color, $value in $colors {
		&.btn--#{$color} {
			--bg: var(--#{$color});
			--border-color: var(--#{$color});
			--bg-hover: var(--#{$color}-hover);
			--bg-focus: var(--#{$color}-hover);
			--bg-active: var(--#{$color}-dark);
		}
	}

	&.btn--outline {
		--bg: transparent;
		--border-color: var(--outline-color);

		--bg-hover: var(--outline-color);
		--bg-focus: var(--outline-color);
		--bg-active: var(--outline-color);
	}
}
