.keto-card {
	--flex-direction: column-reverse;
	--align-items: stretch;
	--text-align: center;
	--pb: 5px;
	--pi: 5px;
	--transition: var(--property) var(--duration) var(--function);

	display: flex;
	flex-direction: var(--flex-direction);
	align-items: var(--align-items);
	position: relative;
	text-align: var(--text-align);
	padding: var(--pb) var(--pi);
	overflow: hidden;

	&__head {
		overflow: hidden;
		backface-visibility: hidden;

		picture {
			position: relative;

			img {
				border-radius: var(--border-radius);
				height: 100%;
			}
		}
	}

	&__body {
		--align-items: flex-start;

		flex-grow: 1;

		display: flex;
		flex-direction: column;
		gap: var(--em-m);
		align-items: var(--align-items);
		padding: var(--space-s);
	}
}
