form[role="search"] {
	display: inline-block;
	max-inline-size: 32rem;
	inline-size: 100%;
	position: relative;

	input[type="search"] {
		--border-width: 1px;
		--border-color: var(--grey-2);

		padding-inline: var(--space-m);
		border: var(--border);
		min-block-size: 2.5em;
		position: relative;
	}

	button[type="submit"] {
		--bg: transparent;
		--min-height: 2.5em;
		--bg-hover: var(--action-ultra-light);

		border-radius: 0 var(--border-radius) var(--border-radius) 0;
		position: absolute;
		top: 0;
		right: 0;

		svg {
			--font-size: var(--text-xl);
			--color: var(--black);
		}
	}
}
