@use "sass:list";
@use "../abstracts/functions" as *;
%list {
	--type: none;
	--flex-direction: row;
	--align-items: center;

	display: flex;
	flex-direction: var(--flex-direction);
	align-items: var(--align-items);
	gap: var(--gap);
	list-style-type: var(--type);
}

@for $i from 1 through length($suffix) {
	$step: list.nth($suffix, $i);
	.list-#{$step} {
		@extend %list;
		gap: var(--space-#{$step});
	}
}
