.sidebar {
	z-index: 3;

	.mobile-navbar {
		--property: transform;
		--duration: 250ms;
		--function: var(--cubic-in);

		background-color: var(--white);
		position: fixed;
		inset: 0 auto 0 0;
		max-width: 21.875rem;
		width: 100%;
		padding: var(--space-m) var(--space-l);
		z-index: 5;
		visibility: hidden;
		transform: translateX(-100%);
		transition: var(--all);

		&[aria-expanded="true"] {
			--duration: 400ms;
			--function: var(--cubic-out);

			visibility: visible;
			transform: translateX(0);
			transition: var(--all);
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-block-end: 3.4375rem;
		}

		.menu-toggle {
			--color: var(--base);

			font-size: var(--text-s);
		}

		.navbar__link {
			--duration: 250ms;

			font-size: var(--text-s);
			text-transform: uppercase;
			font-weight: var(--w-600);
			letter-spacing: 1px;
			padding-block: 0.3125rem;
			transition: var(--normal);

			&:is(:hover, :focus) {
				color: var(--base-medium);
			}
		}
	}

	.overlay {
		--duration: 250ms;
		--bg: var(--black-trans-5);

		border: 0;
		inline-size: 100%;
		block-size: 100%;
		position: fixed;
		inset: 0;
		visibility: hidden;
		z-index: 4;
		pointer-events: none;
		transition: var(--all);

		&[aria-expanded="true"] {
			--duration: 400ms;

			background-color: var(--bg);
			visibility: visible;
			pointer-events: all;
			transition: var(--all);
		}
	}
}
