/* GLOBAL THEMING */
%theme {
	--bg: var(--white); // Site background
	--color: var(--black); // Site text color

	--font-family: var(--base-font); // Body font family
	--font-weight: var(--w-400); // Body font weight
	--font-size: var(--text-m); // Body font size
	--line-height: var(--line-xl); // Body line height
}

%border {
	// For buttons, cards, etc.
	--border: var(--border-width) var(--border-style) var(--border-color);
	--border-width: 0.2rem;
	--border-style: solid;
	--border-color: currentColor;
	--border-radius: var(--radius-s);
}

%input {
	// Input Fields & Buttons
	--min-height: 2.8em;
	--pb: var(--pb);
	--pi: var(--space-s);
}

%transform {
	// Site default button transform
	--transform: scale(1.05);
}

%transition {
	// Site default transition
	--all: var(--property) var(--duration) var(--function);
	--normal: var(--duration) var(--function);
	--property: all;
	--duration: 500ms;
	--function: ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
	--cubic-x: cubic-bezier(0.25, 1, 0.5, 1);
}
